<div class="section">
  <mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" #sidenav opened position="start">
      <ul>
        <li><a routerLink="add">{{"Add Courses"| titlecase}}</a></li>
        <li><a routerLink="view">{{"View Courses" | titlecase}}</a></li>
        <li><a routerLink="update">{{"Update Courses" | titlecase}}</a></li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        {{title | titlecase}}
        <span class="toolbar-spacer"></span>
        <button mat-raised-button color="accent" (click)="logout()">Logout</button>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <lib-ng-toast></lib-ng-toast>
 </div>





